#-----------------------------------------------------
if SHIELD_SOFLE_LEFT

config ZMK_SPLIT_ROLE_CENTRAL
    default y

endif #SHIELD_SOFLE_LEFT
#-----------------------------------------------------
if SHIELD_SOFLE_RIGHT

config INPUT_TPS43
    default y

endif #SHIELD_SOFLE_RIGHT