#-----------------------------------------------------
if SHIELD_SOFLE_LEFT

config ZMK_SPLIT_ROLE_CENTRAL
    default y

config I2C
    default y

config INPUT_TPS43
    default y
    
endif #SHIELD_SOFLE_LEFT
#-----------------------------------------------------
if SHIELD_SOFLE_RIGHT


endif #SHIELD_SOFLE_RIGHT
#-----------------------------------------------------

if SHIELD_SOFLE_LEFT || SHIELD_SOFLE_RIGHT

config ZMK_POINTING
    default y

endif #SHIELD_SOFLE_LEFT || SHIELD_SOFLE_RIGHT