#-----------------------------------------------------
if SHIELD_SOFLE_LEFT

config ZMK_SPLIT_ROLE_CENTRAL
    default y

endif #SHIELD_SOFLE_LEFT
#-----------------------------------------------------